 body {
   margin: 0px;
   padding: 0px;
   text-align: center; 
 }

 a {
  text-decoration: none!important;
  color: #000;
}

a:hover{
  color: #666;
}

 .navbar {
    background: rgba(0, 0, 0, 0.5);
 }

 .nav-navbar li {
    display: inline-block !important;
 }

 .navbar-brand {
    font-size: 30px;
 }

 .nav-item a {
   font-size: 25px;
 }

 .form-inline {
   padding: 2px;
 }


 .navbar-custom {
  background-color: #ff5500;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255,255,255);
}

.navbar-custom .navbar-nav .nav-link {
  color: rgba(255,255,255,.5);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: rgba(255, 255, 255, .8);
}

.parallax {
  background-image: url("../img/pizza.jpg");
  height: 450px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.parallax-text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 30px;
  letter-spacing: 8px;
}

.parallax-text .border {
  background-color: #ff5500;
  color: #fff;
  padding: 20px;
}

.offer {
  font-size: 35px;
  text-align: center;
}

#footer {
  background-color: #ff5500;
  font-size: 14px;
  color:rgba(255, 255, 255, .95);
}